.nav-link {
    color: var(--primary-950) !important;
    padding: 16px !important;
    border-radius: 16px;
    white-space: nowrap;
    transition: all ease-in-out 0.3s !important;
    transition: background-color ease-in-out 0.3s !important;
    transition: justify-content 0.3s ease-in-out 0.3s !important;
}

.nav-link:hover {
    background-color: var(--hover-40) !important;
}

.focus {
    background-color: var(--primary-50) !important;
}

.hover {
    background-color: var(--hover-40) !important;
}

.nav-link .nav-icon {
    font-size: 24px !important;
    margin-right: -12px;
    transition: margin 0.3s ease-in-out !important;
}

.nav-link span {
    width: 0;
    overflow: hidden;
    color: var(--primary-950);
    text-align: start;
    padding-left: 12px;
    transition: all 0.3s ease-in-out !important;
}

.dropdown-btn {
    border-radius: 0px;
}

.dropdown-div {
    width: 0;
    height: 0;
    overflow: hidden;
    border-left: 1px solid var(--primary-200);
    gap: 20px;
}

.dropdown-link {
    color: var(--dark-300);
    gap: 12px;
}

.dropdown-link:hover {
    color: var(--primary-950);
}