.form {
    position: relative;
    width: clamp(342px, 66vw, 660px);
    /* min-width: 342px !important; */
    padding-inline: clamp(24px, 6vw, 60px);
    padding-top: clamp(24px, 6vw, 64px);
    padding-bottom: clamp(24px, 3.5vw, 36px);
    gap: 36px;
    overflow-x: hidden;
}

.form .back {
    cursor: pointer;
}

.bc-card {
    min-width: 70%;
    max-width: 347px;
    border: 1px solid var(--dark-100);
    box-shadow: 0px 0px 48px #1916501A;
}

.bc-card img {
    aspect-ratio: square;
    width: clamp(79px, 10vw, 104px);
    height: clamp(79px, 10vw, 104px);
}

@media (max-width: 990px ) {
    .form {
        width: 100%;
        max-width: 700px;
    }
}