/* input-cont{
    position: relative;
} */

.input-cont label {
    color: var(--primary-950);
}

.input-div {
    width: 100%;
    height: clamp(45px, 4.5vw, 48px);
    border: 1px solid var(--dark-100);
    overflow: hidden;
    
}

.input-div .input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.input-div:focus-within {
    border: 1.5px solid var(--primary-700) !important;
}

.input-div .icon {
    color: var(--dark-400) !important;

}

.input-div .password-eye {
    border: none !important;
}

.active {
    border: 1.5px solid var(--primary-700) !important;

}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    margin-bottom: 8px;
}

/* .custom-dropdown {
    position: relative;
    cursor: pointer;
} */
.dropdown-menu {
    display: none;
    position: absolute;
    bottom: 40px;
    /* top:-10px; */
    /* z-index: 1000; */
    background: white;
    border: 1px solid #ddd;
    width: 50%;
    max-height: 200px;
    overflow-y: auto;
}

.input-cont .dropdown-menu.open {
    display: block;
}
.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
