.programs {
    position: relative;
}

.current-program {
    gap: 12px;
    padding: 8px 12px;
    border: 1px solid var(--dark-100);
    overflow-x: hidden;
    cursor: pointer;
    border-radius: 16px;
    background-color: var(--dark-50);
}

.current-program span, .other-programs span {
    white-space: nowrap;
}

.program-dropdown {
    background-color: var(--dark-50);
    box-shadow: 0px 4px 16px #19165026;
    border-radius: 16px;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    position: absolute;
    top: 110%;
    left: 0;
}

.other-program {
    gap: 12px;
    cursor: pointer;
}

.other-program:hover {
    background-color: var(--primary-50);
}