*{
    margin: 0;
    border-box: box-sizing;
}
.form-template {
    width: 100vw;
    height: 100vh;
    background: url(/public/assets/images/BG.svg);
    background-color: blue;
    background-size: cover;
    background-position: center;
    display: flex;
}