* {
  box-sizing: border-box;
}

.course-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border: 1px dashed #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .course-left {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 30px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .course-info p {
    color: #888;
    margin: 5px 0 0;
  }
  
  .status {
    padding: 2px 8px;
    border: none;
    border-radius: 8px;
    font-size: 0.85em;
    font-weight: bold;
  }
  
  .active {
    color: #008F6C;
    background-color: #C9FFE9;
  }
  
  .inactive {
    color: #f44336;
    background-color: #ffebee;
  }
  
  .course-right {
    display: flex;
    align-items: center;
  }
  
  .progressbar {
    width: 150px;
    height: 8px;
    background: #ECF1FF;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
  }
  
  .progres {
    height: 100%;
    background: #453BDB;
    border-radius: 4px;
  }
  
  /* .progress-info {
    display: flex;
    align-items: center;
  } */
  
  .view-details {
    border: none;
    background: none;
    color: #007bff;
    font-size: 0.9em;
    display: flex;
    cursor: pointer;
    padding: 0;
    /* margin-left: 10px; */
  }
  
  .view-details span {
    margin-right: 5px;
  }
  