.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.progress-div {
    width: 100%;
}

.progress-page {
    width: 100%;
}

.active {
    background-color: var(--primary-700);
}

.inactive {
    background-color: var(--primary-100);
}

@media (max-width: 400px) {
    .head {
        width: 100% !important;
    }
}