/* AUTH */

.form {
    position: relative;
    width: clamp(342px, 66vw, 660px);
    height: fit-content;
    min-height: 636px;
    padding-inline: clamp(24px, 6vw, 60px);
    padding-block: clamp(24px, 6vw, 64px);
    gap: 36px;
    overflow-x: hidden;
}

.form .back {
    cursor: pointer;
}

.bc-card {
    min-width: 70%;
    max-width: 347px;
    border: 1px solid var(--dark-100);
    box-shadow: 0px 0px 48px #1916501A;
}

.bc-card img {
    aspect-ratio: square;
    width: clamp(79px, 10vw, 104px);
    height: clamp(79px, 10vw, 104px);
}

.dashed-border {
    border: 2px dashed var(--dark-200); 
    border-radius: 8px;     
    height: 100%;
  }

@media (max-width: 990px ) {
    .form {
        width: 100%;
        max-width: 700px;
    }
}

/* SIDENAV */

.sidenav-div {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--dark-50);
    width: fit-content;
    min-width: 96px;
    height: 100vh;
    overflow-y: auto;
    transition: all ease-in-out 0.3s !important;
}

.sidenav-div .side-nav {
    background-color: var(--dark-50);
    padding: 15px 18px;
    border-right: 1px solid var(--primary-100) !important;
    width: 96px;
    overflow-y: auto;
    position: sticky;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.3s !important;
    z-index: 3;
}

.sidenav-div::-webkit-scrollbar, .sidenav-div .side-nav::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.logo-lg {
    width: 100%;
    overflow: hidden;
    padding-left: 17px;
    /* display: none;
    transition: all ease-in-out 1s; */
}

.sidenav-div .nav-tools .nav-icon {
    margin-right: -24px;
}

.sidenav-div:hover {
    min-width: 300px;
}

.sidenav-div:hover .side-nav {
    width: 300px;
}

.sidenav-div:hover .program-dropdown {
    width: 252px;
}

.sidenav-div:hover .nav-link {
    justify-content: start !important;
    width: 100% !important;
    padding: 16px 12px;
}

.sidenav-div:hover .nav-dropdown {
    justify-content: space-between !important;
}

.sidenav-div:hover .dropdown-btn {
    justify-content: space-between !important;
}

.sidenav-div:hover .nav-link span {
    width: 100%;
}

.sidenav-div:hover .nav-link .span {
    width: fit-content;
}

.sidenav-div:hover .logo-lg {
    display: block;
}

.sidenav-div:hover .logo-sm {
    display: none;
}

.sidenav-div:hover .dropdown-div {
    width: 100%;
    height: fit-content;
    padding: 8px 1px 8px 25px;
    margin-inline: 22px;
}

.sidenav-div:hover .nav-icon {
    margin: 0;
}

/* TOP NAV */

.top-nav {
    padding-block: 11px;
}

.search-div {
    width: clamp(300px, 40vw ,420px);
}

/* CHECKLIST */

.checklist {
    background-color: var(--dark-50);
    width: 344px;
    box-shadow: 0px 4px 16px 0px #19165026;
    position: fixed;
    right: 36px;
    bottom: 71px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
}

.checklist .checklist-box {
    border: 1px solid var(--primary-50);
    border-radius: 12px;
    gap: 12px;
}

.open {
    height: 330px;
}

.close {
    height: 70px;
}

.checklist .checklist-box .list {
    gap: 10px;
}

/* HEADER */

.dashboard-header {
    padding-block: 36px 48px;
}

/* OVERVIEW */

.overview-container {
    gap: 13px;
    padding-bottom: 20px;
}

/* TABLE */

.table-div {
    border-collapse: collapse;
    border-radius: 18px 18px 0px 0px;
    overflow: hidden;
  }
  
  .table-div th,
  .table-div td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid var(--primary-50);
  }
  
  .table-div thead {
    background-color: var(--primary-50);
  }
  
  .table-div tr:hover {
    background-color: var(--hover-40);
  }